body {
    background-color: bisque;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background-color: #5c94d1;
    padding: 20px 0;
}

h1 {
    margin: 0;
    color: white;
    font-size: 2em;
}
main{
    text-align: center;
}
nav {
    display: flex;
    justify-content: center; 
    margin: 20px 0;
    gap: 20px; 
}

nav a {
    text-decoration: none;
    color: #5c94d1;
}

nav h2 {
    margin: 0;
    padding: 10px;
    font-size: 1.2em;
    background-color: white;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav a:hover h2 {
    background-color: #5c94d1;
    color: white;
}

nav {
    display: flex;
    justify-content: center;
}

nav a {
    margin: 0 15px; 
}
